<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381652871944-t1iph8jtclpummahploi5u6ei7uletdt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381652871944-t1iph8jtclpummahploi5u6ei7uletdt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>381652871944-0ppd72unihhol104ptaecu7r96ois7fe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyASB1DHVPOQPBkteN8ew9J1zHWbbXnTvvU</string>
	<key>GCM_SENDER_ID</key>
	<string>381652871944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>th.go.suratcity</string>
	<key>PROJECT_ID</key>
	<string>abt1-9841c</string>
	<key>STORAGE_BUCKET</key>
	<string>abt1-9841c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381652871944:ios:815a33d29d03d80cbf9abd</string>
</dict>
</plist>