<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001759427019-gbg1ikce0n6rhv2lb0m6974ssjrjncgk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001759427019-gbg1ikce0n6rhv2lb0m6974ssjrjncgk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1001759427019-5d88s9fohc3muoga07sdc9qj86f9hbi8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAmKrV2wS2WPFNjqObjVEmP9dzRTU25jLA</string>
	<key>GCM_SENDER_ID</key>
	<string>1001759427019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>th.go.suratcity</string>
	<key>PROJECT_ID</key>
	<string>fir-api-4e7ef</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-api-4e7ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001759427019:ios:75f4ef9c392bcbf6a10e4e</string>
	<key>DATABASE_URL</key>
	<string>https://fir-api-4e7ef.firebaseio.com</string>
</dict>
</plist>